/<h2>Edit <%= resource_name.to_s.humanize %></h2>
/
/<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
/  <div class="field">
/    <%= f.label :email %><br />
/    <%= f.email_field :email, autofocus: true %>
/  </div>
/
/  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
/    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
/  <% end %>
/
/  <div class="field">
/    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
/    <%= f.password_field :password, autocomplete: "off" %>
/  </div>
/
/  <div class="field">
/    <%= f.label :password_confirmation %><br />
/    <%= f.password_field :password_confirmation, autocomplete: "off" %>
/  </div>
/
/  <div class="field">
/    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
/    <%= f.password_field :current_password, autocomplete: "off" %>
/  </div>
/
/  <div class="actions">
/    <%= f.submit "Update" %>
/  </div>
/<% end %>
/
/<h3>Cancel my account</h3>
/
/<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
/
/<%= link_to "Back", :back %>

h2 Ваш профиль

form.p-form action=user_registration_path method='post'

  == render 'errors', locals: {resource: @user}

  input type="hidden" name="authenticity_token" value=form_authenticity_token
  input type="hidden" name="_method" value='put'

  .p-form__field
    label.p-form__label for="user_name" Имя
    input.p-form__input[
      id    = "user_name"
      type  = 'text'
      name  = "user[name]"
      class = ('p-form__input--error' if @user.errors[:name].any?)
      value = @user.name
    ]

  .p-form__field
    label.p-form__label for="user_email" Email
    input.p-form__input [
      id    = "user_email"
      type  = 'email'
      name  = "user[email]"
      class = ('p-form__input--error' if @user.errors[:email].any?)
      value = @user.email
    ]

  hr

  h4 Изменить пароль:

  .p-form__field
    label.p-form__label for="user_password" Новый пароль
    input.p-form__input [
      id    = "user_password"
      type  = 'password'
      name  = "user[password]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]

  .p-form__field
    label.p-form__label for="user_password_confirmation" Новый пароль еще раз
    input.p-form__input [
      id    = "user_password_confirmation"
      type  = 'password'
      name  = "user[password_confirmation]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]

  .p-form__field
      label.p-form__label for="user_password_confirmation" Старый пароль
      input.p-form__input [
        id    = "user_current_password"
        type  = 'password'
        name  = "user[current_password]"
        class = ('p-form__input--error' if @user.errors[:current_password].any?)
      ]

  hr

  button.p-form__btn type="submit" Отправить

  br
  br
  div
    a [
      href = user_registration_path
      data-method = 'delete'
      data-confirm = 'Вы уверены?'
    ] Удалить аккаунт!
    /== button_to "Удалить", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete