h1 Регистрация

form.p-form action=user_registration_path method='post'

  == render 'errors', locals: {resource: @user}

  input type="hidden" name="authenticity_token" value=form_authenticity_token

  .p-form__field
    label.p-form__label for="user_name" Имя
    input.p-form__input[
      id    = "user_name"
      type  = 'text'
      name  = "user[name]"
      class = ('p-form__input--error' if @user.errors[:name].any?)
      value = @user.name
    ]

  .p-form__field
    label.p-form__label for="user_email" Email
    input.p-form__input [
      id    = "user_email"
      type  = 'email'
      name  = "user[email]"
      class = ('p-form__input--error' if @user.errors[:email].any?)
      value = @user.email
    ]

  .p-form__field
    label.p-form__label for="user_password" Пароль
    input.p-form__input [
      id    = "user_password"
      type  = 'password'
      name  = "user[password]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]
    .p-form__sub Минимум #{@minimum_password_length} символов

  .p-form__field
    label.p-form__label for="user_password_confirmation" Пароль еще раз
    input.p-form__input [
      id    = "user_password_confirmation"
      type  = 'password'
      name  = "user[password_confirmation]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]

  hr

  button.p-form__btn type="submit" Отправить

  .p-form__footer
    == render "devise/shared/links"