@charset "UTF-8";
/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.g-fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.g-fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.g-fa-2x {
  font-size: 2em; }

.g-fa-3x {
  font-size: 3em; }

.g-fa-4x {
  font-size: 4em; }

.g-fa-5x {
  font-size: 5em; }

.g-fa-fw {
  width: 1.28571em;
  text-align: center; }

.g-fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .g-fa-ul > li {
    position: relative; }

.g-fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .g-fa-li.g-fa-lg {
    left: -1.85714em; }

.g-fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.g-fa-pull-left {
  float: left; }

.g-fa-pull-right {
  float: right; }

.g-fa.g-fa-pull-left {
  margin-right: .3em; }

.g-fa.g-fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.g-fa.pull-left {
  margin-right: .3em; }

.g-fa.pull-right {
  margin-left: .3em; }

.g-fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.g-fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.g-fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.g-fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.g-fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.g-fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.g-fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .g-fa-rotate-90,
:root .g-fa-rotate-180,
:root .g-fa-rotate-270,
:root .g-fa-flip-horizontal,
:root .g-fa-flip-vertical {
  filter: none; }

.g-fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.g-fa-stack-1x, .g-fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.g-fa-stack-1x {
  line-height: inherit; }

.g-fa-stack-2x {
  font-size: 2em; }

.g-fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.g-fa-glass:before {
  content: ""; }

.g-fa-music:before {
  content: ""; }

.g-fa-search:before {
  content: ""; }

.g-fa-envelope-o:before {
  content: ""; }

.g-fa-heart:before {
  content: ""; }

.g-fa-star:before {
  content: ""; }

.g-fa-star-o:before {
  content: ""; }

.g-fa-user:before {
  content: ""; }

.g-fa-film:before {
  content: ""; }

.g-fa-th-large:before {
  content: ""; }

.g-fa-th:before {
  content: ""; }

.g-fa-th-list:before {
  content: ""; }

.g-fa-check:before {
  content: ""; }

.g-fa-remove:before,
.g-fa-close:before,
.g-fa-times:before {
  content: ""; }

.g-fa-search-plus:before {
  content: ""; }

.g-fa-search-minus:before {
  content: ""; }

.g-fa-power-off:before {
  content: ""; }

.g-fa-signal:before {
  content: ""; }

.g-fa-gear:before,
.g-fa-cog:before {
  content: ""; }

.g-fa-trash-o:before {
  content: ""; }

.g-fa-home:before {
  content: ""; }

.g-fa-file-o:before {
  content: ""; }

.g-fa-clock-o:before {
  content: ""; }

.g-fa-road:before {
  content: ""; }

.g-fa-download:before {
  content: ""; }

.g-fa-arrow-circle-o-down:before {
  content: ""; }

.g-fa-arrow-circle-o-up:before {
  content: ""; }

.g-fa-inbox:before {
  content: ""; }

.g-fa-play-circle-o:before {
  content: ""; }

.g-fa-rotate-right:before,
.g-fa-repeat:before {
  content: ""; }

.g-fa-refresh:before {
  content: ""; }

.g-fa-list-alt:before {
  content: ""; }

.g-fa-lock:before {
  content: ""; }

.g-fa-flag:before {
  content: ""; }

.g-fa-headphones:before {
  content: ""; }

.g-fa-volume-off:before {
  content: ""; }

.g-fa-volume-down:before {
  content: ""; }

.g-fa-volume-up:before {
  content: ""; }

.g-fa-qrcode:before {
  content: ""; }

.g-fa-barcode:before {
  content: ""; }

.g-fa-tag:before {
  content: ""; }

.g-fa-tags:before {
  content: ""; }

.g-fa-book:before {
  content: ""; }

.g-fa-bookmark:before {
  content: ""; }

.g-fa-print:before {
  content: ""; }

.g-fa-camera:before {
  content: ""; }

.g-fa-font:before {
  content: ""; }

.g-fa-bold:before {
  content: ""; }

.g-fa-italic:before {
  content: ""; }

.g-fa-text-height:before {
  content: ""; }

.g-fa-text-width:before {
  content: ""; }

.g-fa-align-left:before {
  content: ""; }

.g-fa-align-center:before {
  content: ""; }

.g-fa-align-right:before {
  content: ""; }

.g-fa-align-justify:before {
  content: ""; }

.g-fa-list:before {
  content: ""; }

.g-fa-dedent:before,
.g-fa-outdent:before {
  content: ""; }

.g-fa-indent:before {
  content: ""; }

.g-fa-video-camera:before {
  content: ""; }

.g-fa-photo:before,
.g-fa-image:before,
.g-fa-picture-o:before {
  content: ""; }

.g-fa-pencil:before {
  content: ""; }

.g-fa-map-marker:before {
  content: ""; }

.g-fa-adjust:before {
  content: ""; }

.g-fa-tint:before {
  content: ""; }

.g-fa-edit:before,
.g-fa-pencil-square-o:before {
  content: ""; }

.g-fa-share-square-o:before {
  content: ""; }

.g-fa-check-square-o:before {
  content: ""; }

.g-fa-arrows:before {
  content: ""; }

.g-fa-step-backward:before {
  content: ""; }

.g-fa-fast-backward:before {
  content: ""; }

.g-fa-backward:before {
  content: ""; }

.g-fa-play:before {
  content: ""; }

.g-fa-pause:before {
  content: ""; }

.g-fa-stop:before {
  content: ""; }

.g-fa-forward:before {
  content: ""; }

.g-fa-fast-forward:before {
  content: ""; }

.g-fa-step-forward:before {
  content: ""; }

.g-fa-eject:before {
  content: ""; }

.g-fa-chevron-left:before {
  content: ""; }

.g-fa-chevron-right:before {
  content: ""; }

.g-fa-plus-circle:before {
  content: ""; }

.g-fa-minus-circle:before {
  content: ""; }

.g-fa-times-circle:before {
  content: ""; }

.g-fa-check-circle:before {
  content: ""; }

.g-fa-question-circle:before {
  content: ""; }

.g-fa-info-circle:before {
  content: ""; }

.g-fa-crosshairs:before {
  content: ""; }

.g-fa-times-circle-o:before {
  content: ""; }

.g-fa-check-circle-o:before {
  content: ""; }

.g-fa-ban:before {
  content: ""; }

.g-fa-arrow-left:before {
  content: ""; }

.g-fa-arrow-right:before {
  content: ""; }

.g-fa-arrow-up:before {
  content: ""; }

.g-fa-arrow-down:before {
  content: ""; }

.g-fa-mail-forward:before,
.g-fa-share:before {
  content: ""; }

.g-fa-expand:before {
  content: ""; }

.g-fa-compress:before {
  content: ""; }

.g-fa-plus:before {
  content: ""; }

.g-fa-minus:before {
  content: ""; }

.g-fa-asterisk:before {
  content: ""; }

.g-fa-exclamation-circle:before {
  content: ""; }

.g-fa-gift:before {
  content: ""; }

.g-fa-leaf:before {
  content: ""; }

.g-fa-fire:before {
  content: ""; }

.g-fa-eye:before {
  content: ""; }

.g-fa-eye-slash:before {
  content: ""; }

.g-fa-warning:before,
.g-fa-exclamation-triangle:before {
  content: ""; }

.g-fa-plane:before {
  content: ""; }

.g-fa-calendar:before {
  content: ""; }

.g-fa-random:before {
  content: ""; }

.g-fa-comment:before {
  content: ""; }

.g-fa-magnet:before {
  content: ""; }

.g-fa-chevron-up:before {
  content: ""; }

.g-fa-chevron-down:before {
  content: ""; }

.g-fa-retweet:before {
  content: ""; }

.g-fa-shopping-cart:before {
  content: ""; }

.g-fa-folder:before {
  content: ""; }

.g-fa-folder-open:before {
  content: ""; }

.g-fa-arrows-v:before {
  content: ""; }

.g-fa-arrows-h:before {
  content: ""; }

.g-fa-bar-chart-o:before,
.g-fa-bar-chart:before {
  content: ""; }

.g-fa-twitter-square:before {
  content: ""; }

.g-fa-facebook-square:before {
  content: ""; }

.g-fa-camera-retro:before {
  content: ""; }

.g-fa-key:before {
  content: ""; }

.g-fa-gears:before,
.g-fa-cogs:before {
  content: ""; }

.g-fa-comments:before {
  content: ""; }

.g-fa-thumbs-o-up:before {
  content: ""; }

.g-fa-thumbs-o-down:before {
  content: ""; }

.g-fa-star-half:before {
  content: ""; }

.g-fa-heart-o:before {
  content: ""; }

.g-fa-sign-out:before {
  content: ""; }

.g-fa-linkedin-square:before {
  content: ""; }

.g-fa-thumb-tack:before {
  content: ""; }

.g-fa-external-link:before {
  content: ""; }

.g-fa-sign-in:before {
  content: ""; }

.g-fa-trophy:before {
  content: ""; }

.g-fa-github-square:before {
  content: ""; }

.g-fa-upload:before {
  content: ""; }

.g-fa-lemon-o:before {
  content: ""; }

.g-fa-phone:before {
  content: ""; }

.g-fa-square-o:before {
  content: ""; }

.g-fa-bookmark-o:before {
  content: ""; }

.g-fa-phone-square:before {
  content: ""; }

.g-fa-twitter:before {
  content: ""; }

.g-fa-facebook-f:before,
.g-fa-facebook:before {
  content: ""; }

.g-fa-github:before {
  content: ""; }

.g-fa-unlock:before {
  content: ""; }

.g-fa-credit-card:before {
  content: ""; }

.g-fa-feed:before,
.g-fa-rss:before {
  content: ""; }

.g-fa-hdd-o:before {
  content: ""; }

.g-fa-bullhorn:before {
  content: ""; }

.g-fa-bell:before {
  content: ""; }

.g-fa-certificate:before {
  content: ""; }

.g-fa-hand-o-right:before {
  content: ""; }

.g-fa-hand-o-left:before {
  content: ""; }

.g-fa-hand-o-up:before {
  content: ""; }

.g-fa-hand-o-down:before {
  content: ""; }

.g-fa-arrow-circle-left:before {
  content: ""; }

.g-fa-arrow-circle-right:before {
  content: ""; }

.g-fa-arrow-circle-up:before {
  content: ""; }

.g-fa-arrow-circle-down:before {
  content: ""; }

.g-fa-globe:before {
  content: ""; }

.g-fa-wrench:before {
  content: ""; }

.g-fa-tasks:before {
  content: ""; }

.g-fa-filter:before {
  content: ""; }

.g-fa-briefcase:before {
  content: ""; }

.g-fa-arrows-alt:before {
  content: ""; }

.g-fa-group:before,
.g-fa-users:before {
  content: ""; }

.g-fa-chain:before,
.g-fa-link:before {
  content: ""; }

.g-fa-cloud:before {
  content: ""; }

.g-fa-flask:before {
  content: ""; }

.g-fa-cut:before,
.g-fa-scissors:before {
  content: ""; }

.g-fa-copy:before,
.g-fa-files-o:before {
  content: ""; }

.g-fa-paperclip:before {
  content: ""; }

.g-fa-save:before,
.g-fa-floppy-o:before {
  content: ""; }

.g-fa-square:before {
  content: ""; }

.g-fa-navicon:before,
.g-fa-reorder:before,
.g-fa-bars:before {
  content: ""; }

.g-fa-list-ul:before {
  content: ""; }

.g-fa-list-ol:before {
  content: ""; }

.g-fa-strikethrough:before {
  content: ""; }

.g-fa-underline:before {
  content: ""; }

.g-fa-table:before {
  content: ""; }

.g-fa-magic:before {
  content: ""; }

.g-fa-truck:before {
  content: ""; }

.g-fa-pinterest:before {
  content: ""; }

.g-fa-pinterest-square:before {
  content: ""; }

.g-fa-google-plus-square:before {
  content: ""; }

.g-fa-google-plus:before {
  content: ""; }

.g-fa-money:before {
  content: ""; }

.g-fa-caret-down:before {
  content: ""; }

.g-fa-caret-up:before {
  content: ""; }

.g-fa-caret-left:before {
  content: ""; }

.g-fa-caret-right:before {
  content: ""; }

.g-fa-columns:before {
  content: ""; }

.g-fa-unsorted:before,
.g-fa-sort:before {
  content: ""; }

.g-fa-sort-down:before,
.g-fa-sort-desc:before {
  content: ""; }

.g-fa-sort-up:before,
.g-fa-sort-asc:before {
  content: ""; }

.g-fa-envelope:before {
  content: ""; }

.g-fa-linkedin:before {
  content: ""; }

.g-fa-rotate-left:before,
.g-fa-undo:before {
  content: ""; }

.g-fa-legal:before,
.g-fa-gavel:before {
  content: ""; }

.g-fa-dashboard:before,
.g-fa-tachometer:before {
  content: ""; }

.g-fa-comment-o:before {
  content: ""; }

.g-fa-comments-o:before {
  content: ""; }

.g-fa-flash:before,
.g-fa-bolt:before {
  content: ""; }

.g-fa-sitemap:before {
  content: ""; }

.g-fa-umbrella:before {
  content: ""; }

.g-fa-paste:before,
.g-fa-clipboard:before {
  content: ""; }

.g-fa-lightbulb-o:before {
  content: ""; }

.g-fa-exchange:before {
  content: ""; }

.g-fa-cloud-download:before {
  content: ""; }

.g-fa-cloud-upload:before {
  content: ""; }

.g-fa-user-md:before {
  content: ""; }

.g-fa-stethoscope:before {
  content: ""; }

.g-fa-suitcase:before {
  content: ""; }

.g-fa-bell-o:before {
  content: ""; }

.g-fa-coffee:before {
  content: ""; }

.g-fa-cutlery:before {
  content: ""; }

.g-fa-file-text-o:before {
  content: ""; }

.g-fa-building-o:before {
  content: ""; }

.g-fa-hospital-o:before {
  content: ""; }

.g-fa-ambulance:before {
  content: ""; }

.g-fa-medkit:before {
  content: ""; }

.g-fa-fighter-jet:before {
  content: ""; }

.g-fa-beer:before {
  content: ""; }

.g-fa-h-square:before {
  content: ""; }

.g-fa-plus-square:before {
  content: ""; }

.g-fa-angle-double-left:before {
  content: ""; }

.g-fa-angle-double-right:before {
  content: ""; }

.g-fa-angle-double-up:before {
  content: ""; }

.g-fa-angle-double-down:before {
  content: ""; }

.g-fa-angle-left:before {
  content: ""; }

.g-fa-angle-right:before {
  content: ""; }

.g-fa-angle-up:before {
  content: ""; }

.g-fa-angle-down:before {
  content: ""; }

.g-fa-desktop:before {
  content: ""; }

.g-fa-laptop:before {
  content: ""; }

.g-fa-tablet:before {
  content: ""; }

.g-fa-mobile-phone:before,
.g-fa-mobile:before {
  content: ""; }

.g-fa-circle-o:before {
  content: ""; }

.g-fa-quote-left:before {
  content: ""; }

.g-fa-quote-right:before {
  content: ""; }

.g-fa-spinner:before {
  content: ""; }

.g-fa-circle:before {
  content: ""; }

.g-fa-mail-reply:before,
.g-fa-reply:before {
  content: ""; }

.g-fa-github-alt:before {
  content: ""; }

.g-fa-folder-o:before {
  content: ""; }

.g-fa-folder-open-o:before {
  content: ""; }

.g-fa-smile-o:before {
  content: ""; }

.g-fa-frown-o:before {
  content: ""; }

.g-fa-meh-o:before {
  content: ""; }

.g-fa-gamepad:before {
  content: ""; }

.g-fa-keyboard-o:before {
  content: ""; }

.g-fa-flag-o:before {
  content: ""; }

.g-fa-flag-checkered:before {
  content: ""; }

.g-fa-terminal:before {
  content: ""; }

.g-fa-code:before {
  content: ""; }

.g-fa-mail-reply-all:before,
.g-fa-reply-all:before {
  content: ""; }

.g-fa-star-half-empty:before,
.g-fa-star-half-full:before,
.g-fa-star-half-o:before {
  content: ""; }

.g-fa-location-arrow:before {
  content: ""; }

.g-fa-crop:before {
  content: ""; }

.g-fa-code-fork:before {
  content: ""; }

.g-fa-unlink:before,
.g-fa-chain-broken:before {
  content: ""; }

.g-fa-question:before {
  content: ""; }

.g-fa-info:before {
  content: ""; }

.g-fa-exclamation:before {
  content: ""; }

.g-fa-superscript:before {
  content: ""; }

.g-fa-subscript:before {
  content: ""; }

.g-fa-eraser:before {
  content: ""; }

.g-fa-puzzle-piece:before {
  content: ""; }

.g-fa-microphone:before {
  content: ""; }

.g-fa-microphone-slash:before {
  content: ""; }

.g-fa-shield:before {
  content: ""; }

.g-fa-calendar-o:before {
  content: ""; }

.g-fa-fire-extinguisher:before {
  content: ""; }

.g-fa-rocket:before {
  content: ""; }

.g-fa-maxcdn:before {
  content: ""; }

.g-fa-chevron-circle-left:before {
  content: ""; }

.g-fa-chevron-circle-right:before {
  content: ""; }

.g-fa-chevron-circle-up:before {
  content: ""; }

.g-fa-chevron-circle-down:before {
  content: ""; }

.g-fa-html5:before {
  content: ""; }

.g-fa-css3:before {
  content: ""; }

.g-fa-anchor:before {
  content: ""; }

.g-fa-unlock-alt:before {
  content: ""; }

.g-fa-bullseye:before {
  content: ""; }

.g-fa-ellipsis-h:before {
  content: ""; }

.g-fa-ellipsis-v:before {
  content: ""; }

.g-fa-rss-square:before {
  content: ""; }

.g-fa-play-circle:before {
  content: ""; }

.g-fa-ticket:before {
  content: ""; }

.g-fa-minus-square:before {
  content: ""; }

.g-fa-minus-square-o:before {
  content: ""; }

.g-fa-level-up:before {
  content: ""; }

.g-fa-level-down:before {
  content: ""; }

.g-fa-check-square:before {
  content: ""; }

.g-fa-pencil-square:before {
  content: ""; }

.g-fa-external-link-square:before {
  content: ""; }

.g-fa-share-square:before {
  content: ""; }

.g-fa-compass:before {
  content: ""; }

.g-fa-toggle-down:before,
.g-fa-caret-square-o-down:before {
  content: ""; }

.g-fa-toggle-up:before,
.g-fa-caret-square-o-up:before {
  content: ""; }

.g-fa-toggle-right:before,
.g-fa-caret-square-o-right:before {
  content: ""; }

.g-fa-euro:before,
.g-fa-eur:before {
  content: ""; }

.g-fa-gbp:before {
  content: ""; }

.g-fa-dollar:before,
.g-fa-usd:before {
  content: ""; }

.g-fa-rupee:before,
.g-fa-inr:before {
  content: ""; }

.g-fa-cny:before,
.g-fa-rmb:before,
.g-fa-yen:before,
.g-fa-jpy:before {
  content: ""; }

.g-fa-ruble:before,
.g-fa-rouble:before,
.g-fa-rub:before {
  content: ""; }

.g-fa-won:before,
.g-fa-krw:before {
  content: ""; }

.g-fa-bitcoin:before,
.g-fa-btc:before {
  content: ""; }

.g-fa-file:before {
  content: ""; }

.g-fa-file-text:before {
  content: ""; }

.g-fa-sort-alpha-asc:before {
  content: ""; }

.g-fa-sort-alpha-desc:before {
  content: ""; }

.g-fa-sort-amount-asc:before {
  content: ""; }

.g-fa-sort-amount-desc:before {
  content: ""; }

.g-fa-sort-numeric-asc:before {
  content: ""; }

.g-fa-sort-numeric-desc:before {
  content: ""; }

.g-fa-thumbs-up:before {
  content: ""; }

.g-fa-thumbs-down:before {
  content: ""; }

.g-fa-youtube-square:before {
  content: ""; }

.g-fa-youtube:before {
  content: ""; }

.g-fa-xing:before {
  content: ""; }

.g-fa-xing-square:before {
  content: ""; }

.g-fa-youtube-play:before {
  content: ""; }

.g-fa-dropbox:before {
  content: ""; }

.g-fa-stack-overflow:before {
  content: ""; }

.g-fa-instagram:before {
  content: ""; }

.g-fa-flickr:before {
  content: ""; }

.g-fa-adn:before {
  content: ""; }

.g-fa-bitbucket:before {
  content: ""; }

.g-fa-bitbucket-square:before {
  content: ""; }

.g-fa-tumblr:before {
  content: ""; }

.g-fa-tumblr-square:before {
  content: ""; }

.g-fa-long-arrow-down:before {
  content: ""; }

.g-fa-long-arrow-up:before {
  content: ""; }

.g-fa-long-arrow-left:before {
  content: ""; }

.g-fa-long-arrow-right:before {
  content: ""; }

.g-fa-apple:before {
  content: ""; }

.g-fa-windows:before {
  content: ""; }

.g-fa-android:before {
  content: ""; }

.g-fa-linux:before {
  content: ""; }

.g-fa-dribbble:before {
  content: ""; }

.g-fa-skype:before {
  content: ""; }

.g-fa-foursquare:before {
  content: ""; }

.g-fa-trello:before {
  content: ""; }

.g-fa-female:before {
  content: ""; }

.g-fa-male:before {
  content: ""; }

.g-fa-gittip:before,
.g-fa-gratipay:before {
  content: ""; }

.g-fa-sun-o:before {
  content: ""; }

.g-fa-moon-o:before {
  content: ""; }

.g-fa-archive:before {
  content: ""; }

.g-fa-bug:before {
  content: ""; }

.g-fa-vk:before {
  content: ""; }

.g-fa-weibo:before {
  content: ""; }

.g-fa-renren:before {
  content: ""; }

.g-fa-pagelines:before {
  content: ""; }

.g-fa-stack-exchange:before {
  content: ""; }

.g-fa-arrow-circle-o-right:before {
  content: ""; }

.g-fa-arrow-circle-o-left:before {
  content: ""; }

.g-fa-toggle-left:before,
.g-fa-caret-square-o-left:before {
  content: ""; }

.g-fa-dot-circle-o:before {
  content: ""; }

.g-fa-wheelchair:before {
  content: ""; }

.g-fa-vimeo-square:before {
  content: ""; }

.g-fa-turkish-lira:before,
.g-fa-try:before {
  content: ""; }

.g-fa-plus-square-o:before {
  content: ""; }

.g-fa-space-shuttle:before {
  content: ""; }

.g-fa-slack:before {
  content: ""; }

.g-fa-envelope-square:before {
  content: ""; }

.g-fa-wordpress:before {
  content: ""; }

.g-fa-openid:before {
  content: ""; }

.g-fa-institution:before,
.g-fa-bank:before,
.g-fa-university:before {
  content: ""; }

.g-fa-mortar-board:before,
.g-fa-graduation-cap:before {
  content: ""; }

.g-fa-yahoo:before {
  content: ""; }

.g-fa-google:before {
  content: ""; }

.g-fa-reddit:before {
  content: ""; }

.g-fa-reddit-square:before {
  content: ""; }

.g-fa-stumbleupon-circle:before {
  content: ""; }

.g-fa-stumbleupon:before {
  content: ""; }

.g-fa-delicious:before {
  content: ""; }

.g-fa-digg:before {
  content: ""; }

.g-fa-pied-piper:before {
  content: ""; }

.g-fa-pied-piper-alt:before {
  content: ""; }

.g-fa-drupal:before {
  content: ""; }

.g-fa-joomla:before {
  content: ""; }

.g-fa-language:before {
  content: ""; }

.g-fa-fax:before {
  content: ""; }

.g-fa-building:before {
  content: ""; }

.g-fa-child:before {
  content: ""; }

.g-fa-paw:before {
  content: ""; }

.g-fa-spoon:before {
  content: ""; }

.g-fa-cube:before {
  content: ""; }

.g-fa-cubes:before {
  content: ""; }

.g-fa-behance:before {
  content: ""; }

.g-fa-behance-square:before {
  content: ""; }

.g-fa-steam:before {
  content: ""; }

.g-fa-steam-square:before {
  content: ""; }

.g-fa-recycle:before {
  content: ""; }

.g-fa-automobile:before,
.g-fa-car:before {
  content: ""; }

.g-fa-cab:before,
.g-fa-taxi:before {
  content: ""; }

.g-fa-tree:before {
  content: ""; }

.g-fa-spotify:before {
  content: ""; }

.g-fa-deviantart:before {
  content: ""; }

.g-fa-soundcloud:before {
  content: ""; }

.g-fa-database:before {
  content: ""; }

.g-fa-file-pdf-o:before {
  content: ""; }

.g-fa-file-word-o:before {
  content: ""; }

.g-fa-file-excel-o:before {
  content: ""; }

.g-fa-file-powerpoint-o:before {
  content: ""; }

.g-fa-file-photo-o:before,
.g-fa-file-picture-o:before,
.g-fa-file-image-o:before {
  content: ""; }

.g-fa-file-zip-o:before,
.g-fa-file-archive-o:before {
  content: ""; }

.g-fa-file-sound-o:before,
.g-fa-file-audio-o:before {
  content: ""; }

.g-fa-file-movie-o:before,
.g-fa-file-video-o:before {
  content: ""; }

.g-fa-file-code-o:before {
  content: ""; }

.g-fa-vine:before {
  content: ""; }

.g-fa-codepen:before {
  content: ""; }

.g-fa-jsfiddle:before {
  content: ""; }

.g-fa-life-bouy:before,
.g-fa-life-buoy:before,
.g-fa-life-saver:before,
.g-fa-support:before,
.g-fa-life-ring:before {
  content: ""; }

.g-fa-circle-o-notch:before {
  content: ""; }

.g-fa-ra:before,
.g-fa-rebel:before {
  content: ""; }

.g-fa-ge:before,
.g-fa-empire:before {
  content: ""; }

.g-fa-git-square:before {
  content: ""; }

.g-fa-git:before {
  content: ""; }

.g-fa-y-combinator-square:before,
.g-fa-yc-square:before,
.g-fa-hacker-news:before {
  content: ""; }

.g-fa-tencent-weibo:before {
  content: ""; }

.g-fa-qq:before {
  content: ""; }

.g-fa-wechat:before,
.g-fa-weixin:before {
  content: ""; }

.g-fa-send:before,
.g-fa-paper-plane:before {
  content: ""; }

.g-fa-send-o:before,
.g-fa-paper-plane-o:before {
  content: ""; }

.g-fa-history:before {
  content: ""; }

.g-fa-circle-thin:before {
  content: ""; }

.g-fa-header:before {
  content: ""; }

.g-fa-paragraph:before {
  content: ""; }

.g-fa-sliders:before {
  content: ""; }

.g-fa-share-alt:before {
  content: ""; }

.g-fa-share-alt-square:before {
  content: ""; }

.g-fa-bomb:before {
  content: ""; }

.g-fa-soccer-ball-o:before,
.g-fa-futbol-o:before {
  content: ""; }

.g-fa-tty:before {
  content: ""; }

.g-fa-binoculars:before {
  content: ""; }

.g-fa-plug:before {
  content: ""; }

.g-fa-slideshare:before {
  content: ""; }

.g-fa-twitch:before {
  content: ""; }

.g-fa-yelp:before {
  content: ""; }

.g-fa-newspaper-o:before {
  content: ""; }

.g-fa-wifi:before {
  content: ""; }

.g-fa-calculator:before {
  content: ""; }

.g-fa-paypal:before {
  content: ""; }

.g-fa-google-wallet:before {
  content: ""; }

.g-fa-cc-visa:before {
  content: ""; }

.g-fa-cc-mastercard:before {
  content: ""; }

.g-fa-cc-discover:before {
  content: ""; }

.g-fa-cc-amex:before {
  content: ""; }

.g-fa-cc-paypal:before {
  content: ""; }

.g-fa-cc-stripe:before {
  content: ""; }

.g-fa-bell-slash:before {
  content: ""; }

.g-fa-bell-slash-o:before {
  content: ""; }

.g-fa-trash:before {
  content: ""; }

.g-fa-copyright:before {
  content: ""; }

.g-fa-at:before {
  content: ""; }

.g-fa-eyedropper:before {
  content: ""; }

.g-fa-paint-brush:before {
  content: ""; }

.g-fa-birthday-cake:before {
  content: ""; }

.g-fa-area-chart:before {
  content: ""; }

.g-fa-pie-chart:before {
  content: ""; }

.g-fa-line-chart:before {
  content: ""; }

.g-fa-lastfm:before {
  content: ""; }

.g-fa-lastfm-square:before {
  content: ""; }

.g-fa-toggle-off:before {
  content: ""; }

.g-fa-toggle-on:before {
  content: ""; }

.g-fa-bicycle:before {
  content: ""; }

.g-fa-bus:before {
  content: ""; }

.g-fa-ioxhost:before {
  content: ""; }

.g-fa-angellist:before {
  content: ""; }

.g-fa-cc:before {
  content: ""; }

.g-fa-shekel:before,
.g-fa-sheqel:before,
.g-fa-ils:before {
  content: ""; }

.g-fa-meanpath:before {
  content: ""; }

.g-fa-buysellads:before {
  content: ""; }

.g-fa-connectdevelop:before {
  content: ""; }

.g-fa-dashcube:before {
  content: ""; }

.g-fa-forumbee:before {
  content: ""; }

.g-fa-leanpub:before {
  content: ""; }

.g-fa-sellsy:before {
  content: ""; }

.g-fa-shirtsinbulk:before {
  content: ""; }

.g-fa-simplybuilt:before {
  content: ""; }

.g-fa-skyatlas:before {
  content: ""; }

.g-fa-cart-plus:before {
  content: ""; }

.g-fa-cart-arrow-down:before {
  content: ""; }

.g-fa-diamond:before {
  content: ""; }

.g-fa-ship:before {
  content: ""; }

.g-fa-user-secret:before {
  content: ""; }

.g-fa-motorcycle:before {
  content: ""; }

.g-fa-street-view:before {
  content: ""; }

.g-fa-heartbeat:before {
  content: ""; }

.g-fa-venus:before {
  content: ""; }

.g-fa-mars:before {
  content: ""; }

.g-fa-mercury:before {
  content: ""; }

.g-fa-intersex:before,
.g-fa-transgender:before {
  content: ""; }

.g-fa-transgender-alt:before {
  content: ""; }

.g-fa-venus-double:before {
  content: ""; }

.g-fa-mars-double:before {
  content: ""; }

.g-fa-venus-mars:before {
  content: ""; }

.g-fa-mars-stroke:before {
  content: ""; }

.g-fa-mars-stroke-v:before {
  content: ""; }

.g-fa-mars-stroke-h:before {
  content: ""; }

.g-fa-neuter:before {
  content: ""; }

.g-fa-genderless:before {
  content: ""; }

.g-fa-facebook-official:before {
  content: ""; }

.g-fa-pinterest-p:before {
  content: ""; }

.g-fa-whatsapp:before {
  content: ""; }

.g-fa-server:before {
  content: ""; }

.g-fa-user-plus:before {
  content: ""; }

.g-fa-user-times:before {
  content: ""; }

.g-fa-hotel:before,
.g-fa-bed:before {
  content: ""; }

.g-fa-viacoin:before {
  content: ""; }

.g-fa-train:before {
  content: ""; }

.g-fa-subway:before {
  content: ""; }

.g-fa-medium:before {
  content: ""; }

.g-fa-yc:before,
.g-fa-y-combinator:before {
  content: ""; }

.g-fa-optin-monster:before {
  content: ""; }

.g-fa-opencart:before {
  content: ""; }

.g-fa-expeditedssl:before {
  content: ""; }

.g-fa-battery-4:before,
.g-fa-battery-full:before {
  content: ""; }

.g-fa-battery-3:before,
.g-fa-battery-three-quarters:before {
  content: ""; }

.g-fa-battery-2:before,
.g-fa-battery-half:before {
  content: ""; }

.g-fa-battery-1:before,
.g-fa-battery-quarter:before {
  content: ""; }

.g-fa-battery-0:before,
.g-fa-battery-empty:before {
  content: ""; }

.g-fa-mouse-pointer:before {
  content: ""; }

.g-fa-i-cursor:before {
  content: ""; }

.g-fa-object-group:before {
  content: ""; }

.g-fa-object-ungroup:before {
  content: ""; }

.g-fa-sticky-note:before {
  content: ""; }

.g-fa-sticky-note-o:before {
  content: ""; }

.g-fa-cc-jcb:before {
  content: ""; }

.g-fa-cc-diners-club:before {
  content: ""; }

.g-fa-clone:before {
  content: ""; }

.g-fa-balance-scale:before {
  content: ""; }

.g-fa-hourglass-o:before {
  content: ""; }

.g-fa-hourglass-1:before,
.g-fa-hourglass-start:before {
  content: ""; }

.g-fa-hourglass-2:before,
.g-fa-hourglass-half:before {
  content: ""; }

.g-fa-hourglass-3:before,
.g-fa-hourglass-end:before {
  content: ""; }

.g-fa-hourglass:before {
  content: ""; }

.g-fa-hand-grab-o:before,
.g-fa-hand-rock-o:before {
  content: ""; }

.g-fa-hand-stop-o:before,
.g-fa-hand-paper-o:before {
  content: ""; }

.g-fa-hand-scissors-o:before {
  content: ""; }

.g-fa-hand-lizard-o:before {
  content: ""; }

.g-fa-hand-spock-o:before {
  content: ""; }

.g-fa-hand-pointer-o:before {
  content: ""; }

.g-fa-hand-peace-o:before {
  content: ""; }

.g-fa-trademark:before {
  content: ""; }

.g-fa-registered:before {
  content: ""; }

.g-fa-creative-commons:before {
  content: ""; }

.g-fa-gg:before {
  content: ""; }

.g-fa-gg-circle:before {
  content: ""; }

.g-fa-tripadvisor:before {
  content: ""; }

.g-fa-odnoklassniki:before {
  content: ""; }

.g-fa-odnoklassniki-square:before {
  content: ""; }

.g-fa-get-pocket:before {
  content: ""; }

.g-fa-wikipedia-w:before {
  content: ""; }

.g-fa-safari:before {
  content: ""; }

.g-fa-chrome:before {
  content: ""; }

.g-fa-firefox:before {
  content: ""; }

.g-fa-opera:before {
  content: ""; }

.g-fa-internet-explorer:before {
  content: ""; }

.g-fa-tv:before,
.g-fa-television:before {
  content: ""; }

.g-fa-contao:before {
  content: ""; }

.g-fa-500px:before {
  content: ""; }

.g-fa-amazon:before {
  content: ""; }

.g-fa-calendar-plus-o:before {
  content: ""; }

.g-fa-calendar-minus-o:before {
  content: ""; }

.g-fa-calendar-times-o:before {
  content: ""; }

.g-fa-calendar-check-o:before {
  content: ""; }

.g-fa-industry:before {
  content: ""; }

.g-fa-map-pin:before {
  content: ""; }

.g-fa-map-signs:before {
  content: ""; }

.g-fa-map-o:before {
  content: ""; }

.g-fa-map:before {
  content: ""; }

.g-fa-commenting:before {
  content: ""; }

.g-fa-commenting-o:before {
  content: ""; }

.g-fa-houzz:before {
  content: ""; }

.g-fa-vimeo:before {
  content: ""; }

.g-fa-black-tie:before {
  content: ""; }

.g-fa-fonticons:before {
  content: ""; }

.g-fa-reddit-alien:before {
  content: ""; }

.g-fa-edge:before {
  content: ""; }

.g-fa-credit-card-alt:before {
  content: ""; }

.g-fa-codiepie:before {
  content: ""; }

.g-fa-modx:before {
  content: ""; }

.g-fa-fort-awesome:before {
  content: ""; }

.g-fa-usb:before {
  content: ""; }

.g-fa-product-hunt:before {
  content: ""; }

.g-fa-mixcloud:before {
  content: ""; }

.g-fa-scribd:before {
  content: ""; }

.g-fa-pause-circle:before {
  content: ""; }

.g-fa-pause-circle-o:before {
  content: ""; }

.g-fa-stop-circle:before {
  content: ""; }

.g-fa-stop-circle-o:before {
  content: ""; }

.g-fa-shopping-bag:before {
  content: ""; }

.g-fa-shopping-basket:before {
  content: ""; }

.g-fa-hashtag:before {
  content: ""; }

.g-fa-bluetooth:before {
  content: ""; }

.g-fa-bluetooth-b:before {
  content: ""; }

.g-fa-percent:before {
  content: ""; }

.g-fa-gitlab:before {
  content: ""; }

.g-fa-wpbeginner:before {
  content: ""; }

.g-fa-wpforms:before {
  content: ""; }

.g-fa-envira:before {
  content: ""; }

.g-fa-universal-access:before {
  content: ""; }

.g-fa-wheelchair-alt:before {
  content: ""; }

.g-fa-question-circle-o:before {
  content: ""; }

.g-fa-blind:before {
  content: ""; }

.g-fa-audio-description:before {
  content: ""; }

.g-fa-volume-control-phone:before {
  content: ""; }

.g-fa-braille:before {
  content: ""; }

.g-fa-assistive-listening-systems:before {
  content: ""; }

.g-fa-asl-interpreting:before,
.g-fa-american-sign-language-interpreting:before {
  content: ""; }

.g-fa-deafness:before,
.g-fa-hard-of-hearing:before,
.g-fa-deaf:before {
  content: ""; }

.g-fa-glide:before {
  content: ""; }

.g-fa-glide-g:before {
  content: ""; }

.g-fa-signing:before,
.g-fa-sign-language:before {
  content: ""; }

.g-fa-low-vision:before {
  content: ""; }

.g-fa-viadeo:before {
  content: ""; }

.g-fa-viadeo-square:before {
  content: ""; }

.g-fa-snapchat:before {
  content: ""; }

.g-fa-snapchat-ghost:before {
  content: ""; }

.g-fa-snapchat-square:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS and IE text size adjust after device orientation change,
     *    without disabling user zoom.
     */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove default margin.
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Correct `block` display not defined for any HTML5 element in IE 8/9.
     * Correct `block` display not defined for `details` or `summary` in IE 10/11
     * and Firefox.
     * Correct `block` display not defined for `main` in IE 11.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * 1. Correct `inline-block` display not defined in IE 8/9.
     * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
     */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
       * Address `[hidden]` styling not present in IE 8/9/10.
       */
[hidden] {
  display: none; }

/**
     * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
     */
template {
  display: none; }

/* Links
       ========================================================================== */
/**
       * Remove the gray background color from active links in IE 10.
       */
a {
  background-color: transparent; }

/**
     * Improve readability of focused elements when they are also in an
     * active/hover state.
     */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
     */
abbr[title] {
  border-bottom: 1px dotted; }

/**
     * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
     */
b,
strong {
  font-weight: bold; }

/**
     * Address styling not present in Safari and Chrome.
     */
dfn {
  font-style: italic; }

/**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari, and Chrome.
     */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
       * Address styling not present in IE 8/9.
       */
mark {
  background: #ff0;
  color: #000; }

/**
     * Address inconsistent and variable font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
       ========================================================================== */
/**
       * Remove border when inside `a` element in IE 8/9/10.
       */
img {
  border: 0; }

/**
     * Correct overflow not hidden in IE 9/10/11.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
       * Address margin not present in IE 8/9 and Safari.
       */
figure {
  margin: 1.5em 40px; }

/**
     * Address differences between Firefox and other browsers.
     */
hr {
  box-sizing: content-box;
  height: 0; }

/**
     * Contain overflow in all browsers.
     */
pre {
  overflow: auto; }

/**
     * Address odd `em`-unit font size rendering in all browsers.
     */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known limitation: by default, Chrome and Safari on OS X allow very limited
     * styling of `select`, unless a `border` property is set.
     */
/**
     * 1. Correct color not being inherited.
     *    Known issue: affects color of disabled elements.
     * 2. Correct font properties not being inherited.
     * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
     * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 5. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
     * Address `overflow` set to `hidden` in IE 8/9/10/11.
     */
button {
  overflow: visible; }

/**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
     * Correct `select` style inheritance in Firefox.
     */
button,
select {
  text-transform: none; }

/**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
     *    Known issue: inner spacing remains in IE 6.
     */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
     * Re-set default cursor for disabled elements.
     */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
     * Remove inner padding and border in Firefox 4+.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */
input {
  line-height: normal; }

/**
       * It's recommended that you don't attempt to style these elements.
       * Firefox's implementation doesn't respect box-sizing, padding, or width.
       *
       * 1. Address box sizing set to `content-box` in IE 8/9/10.
       * 2. Remove excess padding in IE 8/9/10.
       * 3. Remove excess padding in IE 7.
       *    Known issue: excess padding remains in IE 6.
       */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Fix the cursor style for Chrome's increment/decrement buttons. For certain
     * `font-size` values of the `input`, it causes the cursor style of the
     * decrement button to change from `default` to `text`.
     */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
     */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
       * Remove inner padding and search cancel button in Safari and Chrome on OS X.
       * Safari (but not Chrome) clips the cancel button when the search input has
       * padding (and `textfield` appearance).
       */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Define consistent border, margin, and padding.
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct `color` not being inherited in IE 8/9/10/11.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     * 3. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Remove default vertical scrollbar in IE 8/9/10/11.
     */
textarea {
  overflow: auto; }

/**
     * Don't inherit the `font-weight` (applied by a rule above).
     * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
     */
optgroup {
  font-weight: bold; }

/* Tables
       ========================================================================== */
/**
     * Remove most spacing between table cells.
     */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  transition: background-color 0.2s, color 0.2s, opacity 0.2s, border-color 0.2s; }

.g-hidden {
  display: none !important; }

.g-debug {
  background: #ffd2cc;
  padding: 1rem;
  width: 100%;
  bottom: 0; }

.g-close {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1;
  top: 1rem;
  right: 1rem;
  cursor: pointer; }

.g-fa--post {
  margin-left: .4em; }

.g-fa--pre {
  margin-right: .4em; }

.g-alert {
  margin: 1rem 0;
  position: relative; }

.g-alert__message {
  padding-right: 2rem; }

.g-input {
  background: #ffffff;
  padding: 0.7rem 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 0.3rem;
  color: #2c3e50; }
  .g-input:focus {
    box-shadow: none;
    outline: none;
    border-color: #3498db; }

.g-input--select {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.p-container {
  max-width: 64rem;
  margin: 1rem auto; }

.p-mainbox {
  border: 1px solid #bdc3c7;
  border-radius: 0.3rem;
  padding: 1rem; }

.p-centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh; }

.p-centered__links {
  position: absolute;
  left: 1rem;
  top: 1rem; }

.p-centered__content {
  width: 25rem; }

.p-centered__body {
  border: 1px solid #bdc3c7;
  border-radius: 0.3rem;
  padding: 1rem; }

.p-topmenu {
  background: #34495e;
  margin: 1rem;
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem; }

.p-topmenu__link {
  color: #ecf0f1;
  padding: 1rem 0.5rem;
  display: inline-block; }
  .p-topmenu__link:hover {
    color: #ecf0f1; }
  .p-topmenu__link:focus {
    box-shadow: none;
    outline: none;
    color: #ecf0f1; }

.p-topmenu__text {
  color: deepskyblue; }

.p-form__error {
  color: red; }

.p-form__field {
  margin: 1rem 0; }

.p-form__label {
  display: block;
  margin: 0; }

.p-form__input {
  width: 100%;
  padding: .5em 1em;
  border: 1px solid #bdc3c7;
  border-radius: 0.3rem; }

.p-form__input--error {
  border-color: red; }

.p-form__btn {
  width: 100%;
  padding: .5em 1em; }

.p-form__footer {
  margin-top: 1rem; }

.p-form__sub {
  font-size: 80%;
  font-style: italic; }
