doctype html
html

  head
    title Admin panel
    link rel='stylesheet' href='/css/admin.css'
    == csrf_meta_tags

  body

    .a-frame
      .a-frame__menu
        = render 'admin/partials/menu'
      .a-frame__content
        .a-frame__aside
          = render 'admin/partials/aside'
        .a-frame__body
          == yield

    == yield :scripts
    - if !content_for? :scripts
      script src='/js/admin.js'
