/<h2>Change your password</h2>
/
/<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
/  <%= f.hidden_field :reset_password_token %>
/
/  <div class="field">
/    <%= f.label :password, "New password" %><br />
/    <% if @minimum_password_length %>
/      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
/    <% end %>
/    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
/  </div>
/
/  <div class="field">
/    <%= f.label :password_confirmation, "Confirm new password" %><br />
/    <%= f.password_field :password_confirmation, autocomplete: "off" %>
/  </div>
/
/  <div class="actions">
/    <%= f.submit "Change my password" %>
/  </div>
/<% end %>
/
/<%= render "devise/shared/links" %>

h1 Смена пароля

form.p-form action=user_password_path method='post'

  == render 'errors', locals: {resource: @user}

  input type="hidden" name="authenticity_token" value=form_authenticity_token
  input type="hidden" name="user[reset_password_token]" value=@user.reset_password_token
  input type="hidden" name="_method" value='put'

  .p-form__field
    label.p-form__label for="user_password" Пароль
    input.p-form__input [
      id    = "user_password"
      type  = 'password'
      name  = "user[password]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]
    .p-form__sub Минимум #{@minimum_password_length} символов

  .p-form__field
    label.p-form__label for="user_password_confirmation" Пароль еще раз
    input.p-form__input [
      id    = "user_password_confirmation"
      type  = 'password'
      name  = "user[password_confirmation]"
      class = ('p-form__input--error' if @user.errors[:password].any? or @user.errors[:password_confirmation].any?)
    ]

  hr

  button.p-form__btn type="submit" Отправить