h2 Восстановление пароля

form.p-form action=user_password_path method='post'

  == render 'errors', locals: {resource: @user}

  input type="hidden" name="authenticity_token" value=form_authenticity_token

  .p-form__field
    label.p-form__label for="user_email" Email
    input.p-form__input [
      id = "user_email"
      type = 'email'
      name = "user[email]"
      class = ('p-form__input--error' if @user.errors[:email].any?)
      value = @user.email
    ]

  hr

  button.p-form__btn type="submit" Отправить

  .p-form__footer
    == render "devise/shared/links"