.a-frame {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: $c-gray;
}
.a-frame__content {
  display: flex;
  background: $c-white;
  flex-grow: 1;
}
.a-frame__body {
  flex-grow: 1;
  padding: 1rem;

}
.a-frame__aside {
  width: 12rem;
  position: relative;
  overflow: hidden;
}
.a-menu {
  height: 3rem;
  padding: 0 1rem;
  background: $c-dark-d;
  color: $c-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a-menu__person {
  &>* {
    margin-left: $p-basic*1.5;
  }
}
.a-menu__link {
  color: $c-light;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $c-white;
  }
}
.a-menu__text {
  color: $c-yellow;
}
.a-aside {
  background: $c-light;
  position: absolute;
  width: 100%;
  height: 100%;
}
.a-aside__link {
  display: block;
  padding: 1rem;
  line-height: 1;
  text-decoration: none;
  color: $c-dark-d;
  &:hover {
    background: darken($c-light, 5%);
    text-decoration: none;
    color: $c-dark-d;
  }
}
.a-aside__link--active {
  background: $c-blue;
  color: $c-white;
  &:hover {
    background: $c-blue-d;
    color: $c-white;
  }
}