.a-pagination {
  margin: $p-basic 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-pagination__pages {
  margin: 0 .7em;
}
.a-pagination__link {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  border-radius: .2em;
  padding: $p-basic/2 $p-basic/2;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    background: $c-light;
  }
}
.a-pagination__gap {
  margin: 0 .3em;
  color: $c-gray-l;
}
.a-pagination__link--active {
  $c: $c-blue;
  color: $c-white;
  background-color: $c;
  &:hover {
    background: $c;
  }
}
.a-pagination__input {
  width: 3em;
  text-align: center;
  padding: .3em 0;
  border: none;
  border-bottom: $c-light-d 1px solid;
  color: $c-dark-d;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $c-blue;
  }
}
.a-pagination__secondary {
  color: $c-light-d;
}
.a-pagination__primary {
  display: flex;
  align-items: center;
}
.a-pagination__control {
  background: transparent;
  border: none;
  color: $c-gray-d;
  font-size: 1.4em;
  transition: none;
  &:hover {
    color: $c-dark-d;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.a-pagination__control--disabled {
  $c: $c-light-d;
  cursor: default;
  color: $c;
  &:hover {
    color: $c;
  }
}