.a-table {
  margin: $p-basic 0;
  width: 100%;
}
.a-table__row {
  &:hover {
    background-color: $c-light;
  }
}
.a-table__cell {
  padding: $p-basic*.8 $p-basic;
  border-bottom: 1px solid $c-light;
}
.a-table__cell--header {
  text-align: left;
  vertical-align: bottom;
}
.a-table__cell--header--active {
}
.a-table__cell--header--sortable {
  cursor: pointer;
  &:hover {
    //color: $c-orange-d;
  }
}
.a-table__cell--header--sortable--active {
  &:after {
    color: $c-yellow-d;
    @extend .g-fa;
    @extend .g-fa-sort-alpha-asc:before;
    margin-left: .3em;
  }
}
.a-table__cell--header--sortable--active--desc {
  &:after {
    @extend .g-fa-sort-alpha-desc:before;
  }
}
.a-table--loading {
  opacity: .3;
}

.a-grid__header {
  color: $c-text2;
}
.a-grid__filter {
  display: inline-block;
}
.a-grid__view-options {
  float: right;
}
.a-grid__no-results {
  margin: $p-basic 0;
  display: none;
}
.a-grid__no-results--active {
  display: block;
}