h1 Вход

form.p-form action=user_session_path method='post'

  input type="hidden" name="authenticity_token" value=form_authenticity_token

  .p-form__field
    label.p-form__label for="user_email" Email
    input.p-form__input [
      id    = "user_email"
      type  = 'email'
      name  = "user[email]"
      value = @user.email
    ]

  .p-form__field
    label.p-form__label for="user_password" Пароль
    input.p-form__input [
      id    = "user_password"
      type  = 'password'
      name  = "user[password]"
    ]

  hr

  button.p-form__btn type="submit" Войти

  .p-form__footer
    == render "devise/shared/links"