.p-container {
  max-width: 64rem;
  margin: $p-basic auto;
}
.p-mainbox {
  border: $b-basic;
  border-radius: $b-radius;
  padding: $p-basic;
}




.p-centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.p-centered__links {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.p-centered__content {
  width: 25rem;
}
.p-centered__body {
  border: $b-basic;
  border-radius: $b-radius;
  padding: $p-basic;
}