.p-form__error {
  color: red;
}
.p-form__field {
  margin: 1rem 0;
}
.p-form__label {
  display: block;
  margin: 0;
}
.p-form__input {
  width: 100%;
  padding: .5em 1em;
  border: $b-basic;
  border-radius: $b-radius;
}
.p-form__input--error {
  border-color: red;
}
.p-form__btn {
  width: 100%;
  padding: .5em 1em;
}
.p-form__footer {
  margin-top: 1rem;
}
.p-form__sub {
  font-size: 80%;
  font-style: italic;
}