.p-topmenu {
  background: $c-dark;
  margin: $p-basic;
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 $p-basic/2;
}
.p-topmenu__link {
  $c: $c-light;
  color: $c;
  padding: $p-basic $p-basic/2;
  display: inline-block;
  &:hover {
    color: $c;
  }
  &:focus {
    box-shadow: none;
    outline: none;
    color: $c;
  }
}
.p-topmenu__text {
  color: deepskyblue;
}