.a-aside

  a.a-aside__link class=('a-aside__link--active' if current_page? admin_root_path) href=admin_root_path Главная

  - if can? ['create_users', 'update_users', 'delete_users']
    a.a-aside__link class=('a-aside__link--active' if current_page? admin_users_path) href=admin_users_path Пользователи
