.a-menu
  .a-menu__links
    a.a-menu__link href=root_path
      i.g-fa.g-fa--pre.g-fa-laptop
      | На сайт
  .a-menu__person
    span.a-menu__text
      i.g-fa.g-fa--pre.g-fa-user
      | #{current_user.name}
    a.a-menu__link href=destroy_user_session_path data-method='delete'
      i.g-fa.g-fa--pre.g-fa-sign-out
      | Выход
