$c-light:   #ffffff;
$c-light-d: darken($c-light, 15%);
$c-gray-l:  darken($c-light, 30%);
$c-gray:    darken($c-light, 45%);
$c-gray-d:  darken($c-light, 60%);
$c-dark-l:  darken($c-light, 75%);
$c-dark:    darken($c-light, 90%);

// flatuicolors.com
$c-sea:      #1abc9c;
$c-sea-d:    #16a085;
$c-green:    #2ecc71;
$c-green-d:  #27ae60;
$c-blue:     #3498db;
$c-blue-d:   #2980b9;
$c-violet:   #9b59b6;
$c-violet-d: #8e44ad;
$c-yellow:   #f1c40f;
$c-yellow-d: #f39c12;
$c-orange:   #e67e22;
$c-orange-d: #d35400;
$c-red:      #e74c3c;
$c-red-d:    #c0392b;
$c-white:    #ffffff;
$c-light:    #ecf0f1;
$c-light-d:  #bdc3c7;
$c-gray:     #95a5a6;
$c-gray-d:   #7f8c8d;
$c-dark:     #34495e;
$c-dark-d:   #2c3e50;

$c-text: $c-dark-d;
$c-text2: $c-light-d;

$p-basic: 1rem;

$b-basic: 1px solid $c-light-d;
$b-basic-l: 1px solid $c-light;
$b-radius: .3rem;

$t-basic: .2s;

* {
  transition: background-color $t-basic, color $t-basic, opacity $t-basic, border-color $t-basic;
}
.g-hidden {
  display: none !important;
}
.g-debug {
  background: #ffd2cc;
  padding: $p-basic;
  width: 100%;
  bottom: 0;
}
.g-close {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1;
  top:   $p-basic;
  right: $p-basic;
  cursor: pointer;
}
.g-fa--post {
  margin-left: .4em;
}
.g-fa--pre {
  margin-right: .4em;
}

.g-alert {
  margin: $p-basic 0;
  position: relative;
}
.g-alert--success {
}
.g-alert--danger {
}
.g-alert--info {
}
.g-alert--warning {
}
.g-alert--notice {
}
.g-alert--alert {
}
.g-alert__message {
  padding-right: 2rem;
}
