.g-input {
  background: $c-white;
  padding: $p-basic*.7 $p-basic;
  border: $b-basic;
  border-radius: $b-radius;
  color: $c-text;
  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $c-blue;
  }
}
.g-input--select {
  padding-left: $p-basic*.5;
  padding-right: $p-basic*.5;
}