<div class="a-grid">
    <div class="a-grid__header">
        <div class="a-grid__filter">
            <input class="g-input" type="text" v-model="searchQuery">
        </div>
        <span>
            <span v-for="(columnKey, column) in columns">
                <input type="checkbox" :checked="column.selected" v-model="column.selected | checkLastColumn columnKey"> {{column.name}}
                <span v-if="sortBy == columnKey">(Сортировка)</span>
            </span>
        </span>
        <div class="a-grid__view-options">
            Показывать по
            <select class="g-input g-input--select" v-model="itemsPerPage">
                <option value="{{val}}" v-for="(key, val) in itemsPerPageOptions" :selected="">
                    {{ val }}
                </option>
            </select>
        </div>
    </div>
    <table class="a-table" v-if="pagesCount">
        <thead>
            <tr>
                <th class="a-table__cell a-table__cell--header a-table__cell--header--sortable"
                    v-for="(columnKey, column) in columns"
                    v-if="column.selected"
                    @click="sortList(columnKey)"
                    :class=
                    "{
                        'a-table__cell--header--sortable--active': sortBy == columnKey,
                        'a-table__cell--header--sortable--active--desc': sortOrder == 'DESC' && sortBy == columnKey
                    }"
                >{{ column.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="a-table__row" v-for="entry in list">
                <td class="a-table__cell" v-for="(columnKey, column) in columns" v-if="column.selected">{{ entry[columnKey] }}</td>
            </tr>
        </tbody>
    </table>
    <div class="a-grid__no-results" v-if="!pagesCount">Нет результатов...</div>
    <pagination :pages-count="pagesCount" :page.sync="page" ></pagination>
</div>