<div class="a-pagination" v-if="pagesCount">
    <div class="a-pagination__primary">
        <div class="a-pagination__left-control">
            <button class="a-pagination__control"
                    :class="{'a-pagination__control--disabled': !controls.b}"
                    @click="page = $options.filters.numberMinMaxValidation.write(1, page, 1, pagesCount)">
                <i class="g-fa g-fa-angle-double-left"></i>
            </button>
            <button class="a-pagination__control"
                    :class="{'a-pagination__control--disabled': !controls.b}"
                    @click="page = $options.filters.numberMinMaxValidation.write(page-1, page, 1, pagesCount)">
                <i class="g-fa g-fa-angle-left"></i>
            </button>
        </div>
        <div class="a-pagination__pages">
            <span class="a-pagination__gap" v-if="controls.lg">...</span>
            <button class="a-pagination__link"
                    @click="page = n"
                    :class="{'a-pagination__link--active': page == n}"
                    v-for="n in pageSequence"
                    track-by="$index"
            >
                {{ n }}
            </button>
            <span class="a-pagination__gap" v-if="controls.rg">...</span>
        </div>
        <div class="a-pagination__right-control">
            <button class="a-pagination__control"
                    :class="{'a-pagination__control--disabled': !controls.f}"
                    @click="page = $options.filters.numberMinMaxValidation.write(page+1, page, 1, pagesCount)">
                <i class="g-fa g-fa-angle-right"></i>
            </button>
            <button class="a-pagination__control"
                    :class="{'a-pagination__control--disabled': !controls.f}"
                    @click="page = $options.filters.numberMinMaxValidation.write(pagesCount, page, 1, pagesCount)">
                <i class="g-fa g-fa-angle-double-right"></i>
            </button>
        </div>
    </div>
    <div class="a-pagination__secondary">
        Страница <input number lazy class="a-pagination__input g-input" type="text"  v-model="page | numberMinMaxValidation 1 pagesCount" > из {{pagesCount}}
    </div>
</div>