<p>Здравствуйте <%= @resource.name %>!</p>

<p>Нами был получен запрос на изменение пароля от вашего акканта. Чтобы это сделать, проследуйте по ссылке:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это не Вы отправили запрос, просто проигнорируйте это письмо.</p>