aside.p-topmenu
  nav.p-topmenu__links
    a.p-topmenu__link href=root_path Главная
    a.p-topmenu__link href=about_path О проекте

  .p-topmenu__personal
    - unless user_signed_in?
      a.p-topmenu__link href=new_user_session_path Вход
      a.p-topmenu__link href=new_user_registration_path Регистрация
    - else
      span.p-topmenu__text Мистер #{current_user.name},
      a.p-topmenu__link href=edit_user_registration_path Профиль
      - if policy(:dashboard).use?
        a.p-topmenu__link href=admin_root_path Управление
      a.p-topmenu__link href=destroy_user_session_path data-method='delete' Выход