doctype html
html

  head
    title DooDoo
    link rel='stylesheet' href='/css/app.css'
    == csrf_meta_tags

  body

    == render 'header'

    .p-container
      == render 'flash'

    .p-container
      main.p-mainbox
        == yield

    == render 'debug'

    script src='/js/app/basic.js'