doctype html
html

  head
    title == yield :title
    link rel='stylesheet' href='/css/app.css'
    == csrf_meta_tags

  body

    .p-centered
      .p-centered__links
        a.p-centered_link href=root_path На главную
      .p-centered__content
        .p-centered__flash
          == render 'flash'
        .p-centered__body
          == yield

    == render 'debug'

    script src='/js/app/basic.js'


